@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@layer components {
    .wide-container {
        max-width: 1440px;
        margin: 0 auto;
    }

    .input-field {
        @apply sm:flex-1 max-sm:w-full text-base leading-normal text-mutedSlate pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-mutedSlate max-sm:rounded-full;
    }
}

@layer utilities {
    .s {
        @apply sm:px-16 px-8 sm:py-24 py-12;
    }

    .sx {
        @apply sm:px-16 px-8;
    }

    .sy {
        @apply sm:py-24 py-12;
    }

    .sl {
        @apply sm:pl-16 pl-8;
    }

    .sr {
        @apply sm:pr-16 pr-8;
    }

    .st {
        @apply sm:pt-24 pt-12;
    }

    .sb {
        @apply sm:pb-24 pb-12;
    }

    .text-info {
        @apply font-sansMontserrat text-mutedSlate text-lg leading-7;
    }
}
